<tr>
<td><%= image_tag venue.image.url, :size => "50x50", :alt => "Venue image", :class => "round" %></td>
<td><%= link_to venue.name, venue_path(venue) %>
<% if venue.town.present? %>
, <%= venue.town %>
<% end %>
</td>
<td><%= venue.website %></td>

<% if venue.respond_to?('distance') %>
<td><%= number_with_precision venue.distance, :precision => 1 %> miles</td>
<% end %>

<td>
<% if current_user == venue.user %>
	<%= link_to 'Edit', edit_venue_path(venue) %> |
	<%= link_to 'Delete', venue, :method => :delete %>
<% end %>
</td>
</tr>