<tr>
<td><%= image_tag("rails.png", :width=> 30, :height => 30, :alt => "Sample App", :class => "round") %>
<td><%= link_to venue.name, venue_path(venue) %>, <%= venue.postcode %></td>
<td><%= venue.website %></td>


<td>
<% if current_user == venue.user %>
	<%= link_to 'Edit', edit_venue_path(venue) %> |
	<%= link_to 'Delete', :method => :delete %>
<% end %>
</td>
</tr>