<table>
<tr>
<td><%= image_tag @venue.image.url, :size => "150x150", :alt => "Venue image", :class => "round" %></td>
<td>
	<h1><%= @venue.name %></h1>
	<%= @venue.website %><br />
	<%= @venue.postcode %><br />
	Profile for <%= link_to @venue.user.name, @venue.user %>
</td>
</tr>

</table>

<% if current_user == @venue.user %>
	<%= link_to 'Edit', edit_venue_path(@venue) %> |
	<%= link_to 'Delete', @venue, :method => :delete %>
<% end %>
