<table>
<tr>
<td><%= image_tag("rails.png", :alt => "Venue photo", :class => "round") %></td>
<td>
	<h1><%= @venue.name %></h1>
	<%= @venue.website %><br />
	<%= @venue.postcode %>
</td>
</tr>

</table>

<% if current_user == @venue.user %>
	<%= link_to 'Edit', edit_venue_path(@venue) %> |
	<%= link_to 'Delete', @venue, :method => :delete %>
<% end %>
