<!-- Header section of main web pages -->
<header>
    <% logo = image_tag("rails.png", :alt => "Sample App", :class => "round") %>
	<%= link_to logo, root_path %>

    <nav class="round">
      <ul>
		<li><%= link_to "Search Venues", venues_path %></li>
        <% if current_user %>
			<li>Logged in as <%= link_to current_user.name, current_user %>. <%= link_to "Log Out", log_out_path %></li>
		<% else %>
			<li><%= link_to "Sign-in", log_in_path %> or <%= link_to "Register", signup_path %></li>
		<% end %>
		<li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
</header>